/* General */

body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 155px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #0081ff;
    text-decoration: none;
}

a:not(.button):hover {
    color:#39b54a;
}

.header + :not(.banner) {
    padding-top: 100px;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

@media (max-width: 719px) {
    .hide-on.mobile {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1023px) {
    .hide-on.mobile {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hide-on.mobile {
        display: none;
    }
}
