div#CaixaAmarela1,
div#CaixaAmarela2 
{
	width: 140px;
	height: 70px;
	z-index: 1;
	background-color: #ffff00;

	position: absolute;
	top: 415px;

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;

	box-shadow: 0 0 20px #ff6600 inset;
	-webkit-box-shadow: 0 0 20px #ff6600 inset;
	-moz-box-shadow: 0 0 20px #ff6600 inset;
	-o-box-shadow: 0 0 20px #ff6600 inset;
}

div#CaixaAmarela1 {		
	left: 25px;
}

div#CaixaAmarela2 {
	left: 185px;
}