div#botaoVidro
	{
		width: 60px;
		height: 60px;
		margin-right: 15px;
		border: 5px solid #fff;
		float: left;

		box-shadow: 0 0 10px #FF0000;
		-webkit-box-shadow: 0 0 10px #FF0000;
		-moz-box-shadow: 0 0 10px #FF0000;
		-o-box-shadow: 0 0 10px #FF0000;
		
		background: radial-gradient(#05fbfb, #29abe3);
		background: -webkit-radial-gradient(#05fbfb, #29abe3);
		background: -moz-radial-gradient(#05fbfb, #29abe3);
		background: -o-radial-gradient(#05fbfb, #29abe3);
		
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
	   	-o-border-radius: 35px;
	}

    div#miniBotaoVidro1
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #FF0000;
		-webkit-box-shadow: 0 0 10px #FF0000;
		-moz-box-shadow: 0 0 10px #FF0000;
		-o-box-shadow: 0 0 10px #FF0000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#fb7b7b, #fb0505);
		background: -webkit-radial-gradient(#fb7b7b, #fb0505);
		background: -moz-radial-gradient(#fb7b7b, #fb0505);
		background: -o-radial-gradient(#fb7b7b, #fb0505);
	}

	div#miniBotaoVidro2
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #FF0000;
		-webkit-box-shadow: 0 0 10px #FF0000;
		-moz-box-shadow: 0 0 10px #FF0000;
		-o-box-shadow: 0 0 10px #FF0000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#fbfb9b, #fbfb05);
		background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
		background: -moz-radial-gradient(#fbfb9b, #fbfb05);
		background: -o-radial-gradient(#fbfb9b, #fbfb05);
	}

	div#miniBotaoVidro3
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #FF0000;
		-webkit-box-shadow: 0 0 10px #FF0000;
		-moz-box-shadow: 0 0 10px #FF0000;
		-o-box-shadow: 0 0 10px #FF0000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#b0fb7b, #50fb05);
		background: -webkit-radial-gradient(#b0fb7b, #50fb05);
		background: -moz-radial-gradient(#b0fb7b, #50fb05);
		background: -o-radial-gradient(#b0fb7b, #50fb05);
	}

    div#miniBotaoDeVidro4
	{
		width: 15px;
		height: 15px;
		float: left;
		z-index: 1;

		position: absolute;
		top: 383px;
		left: 25px;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#ff9b5b, #fb6505);
		background: -webkit-radial-gradient(#ff9b5b, #fb6505);
		background: -moz-radial-gradient(#ff9b5b, #fb6505);
		background: -o-radial-gradient(#ff9b5b, #fb6505);
	}

	div#miniBotaoDeVidro5
	{
		width: 15px;
		height: 15px;
		float: left;
		z-index: 1;

		position: absolute;
		top: 383px;
		left: 51px;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#0abd0a, #057b05);
		background: -webkit-radial-gradient(#0abd0a, #057b05);
		background: -moz-radial-gradient(#0abd0a, #057b05);
		background: -o-radial-gradient(#0abd0a, #057b05);
	}

    div#botaoImagemSuperior1, div#botaoImagemSuperior2
	{
		height: 8px;
		width: 8px;
		background-color: #971010;
		border: 1px solid #000;
		float: left;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#botaoImagemSuperior1
	{
		margin-right: 20px;
	}

	div#ImagemBotao
	{
		height: 26px;
		width: 26px;
		background-color: #971010;
		margin-left: 35px;
		float: left;

		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-o-border-radius: 30px;

		box-shadow: -2px 1px #971010;
		-webkit-box-shadow: -2px 1px #971010;
		-moz-box-shadow: -2px 1px #971010;
		-o-box-shadow: -2px 1px #971010;

		background: linear-gradient(top, #f80000 0%, #971010 80%);	
		background: -webkit-linear-gradient(top, #f80000 0%, #971010 80%);
		background: -moz-linear-gradient(top, #f80000 0%, #971010 80%);
		background: -o-linear-gradient(top,#f80000 0%, #971010 80%);
	}

    div#botaoGrandeAzul
	{
		height: 50px;
		width: 50px;
		background-color: #000;

		position: absolute;
		top: 410px;
		left: 30px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, #222 0%, #222 80%);	
		background: -webkit-linear-gradient(top, #222 0%, #222 80%);
		background: -moz-linear-gradient(top, #222 0%, #222 80%);
		background: -o-linear-gradient(top, #222 0%, #222 80%);

		box-shadow: -3px 2px #010101;
		-webkit-box-shadow: -3px 2px #010101;
		-moz-box-shadow: -3px 2px #010101;
		-o-box-shadow: -3px 2px #010101;
	}

    div#reflexo
	{
		width: 30px;
		height: 18px;
		margin: 3px 0 0 15px;
		background: #fff;
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}

	div#botaoDaBarra1
	{
		height: 13px;
		width: 50px;

		position: absolute;
		top: 405px;
		left: 100px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, #50fb05 0%, #057b05 100%);	
		background: -webkit-linear-gradient(top, #50fb05 0%, #057b05 100%);
		background: -moz-linear-gradient(top, #50fb05 0%, #057b05 100%);
		background: -o-linear-gradient(top, #50fb05 0%, #057b05 100%);

		box-shadow: -1px 2px #000000;
		-webkit-box-shadow: -1px 2px #000000;
		-moz-box-shadow: -1px 2px #000000;
		-o-box-shadow: -1px 2px #000000;
	}

	div#botaoDaBarra2
	{
		height: 13px;
		width: 50px;

		position: absolute;
		top: 405px;
		left: 165px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, #fb6505 0%, #bb0505 100%);	
		background: -webkit-linear-gradient(top, #fb6505 0%, #bb0505 100%);
		background: -moz-linear-gradient(top, #fb6505 0%, #bb0505 100%);
		background: -o-linear-gradient(top, #fb6505 0%, #bb0505 100%);

		box-shadow: -1px 2px #000000;
		-webkit-box-shadow: -1px 2px #000000;
		-moz-box-shadow: -1px 2px #000000;
		-o-box-shadow: -1px 2px #000000;
	}

    div#botaoDaBarra3
	{
		height: 13px;
		width: 50px;
		z-index: 1;

		position: absolute;
		top: 385px;
		left: 210px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, #50fb05 0%, #057b05 100%);	
		background: -webkit-linear-gradient(top, #50fb05 0%, #057b05 100%);
		background: -moz-linear-gradient(top, #50fb05 0%, #057b05 100%);
		background: -o-linear-gradient(top, #50fb05 0%, #057b05 100%);

		box-shadow: -1px 2px #000000;
		-webkit-box-shadow: -1px 2px #000000;
		-moz-box-shadow: -1px 2px #000000;
		-o-box-shadow: -1px 2px #000000;
	}

	div#botaoDaBarra4
	{
		height: 13px;
		width: 50px;
		z-index: 1;

		position: absolute;
		top: 385px;
		left: 270px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, #fb6505 0%, #bb0505 100%);	
		background: -webkit-linear-gradient(top, #fb6505 0%, #bb0505 100%);
		background: -moz-linear-gradient(top, #fb6505 0%, #bb0505 100%);
		background: -o-linear-gradient(top, #fb6505 0%, #bb0505 100%);

		box-shadow: -1px 2px #000000;
		-webkit-box-shadow: -1px 2px #000000;
		-moz-box-shadow: -1px 2px #000000;
		-o-box-shadow: -1px 2px #000000;
	}

    div#BotaoAzul1
	{
		z-index: 1;

		position: absolute;
		top: 295px;
		left: 49px;
	}

	div#BotaoAzul2
	{
		z-index: 1;

		position: absolute;
		top: 335px;
		left: 49px;
	}

	div.botaoAzul
	{
		height: 35px;
		width : 45px;
		background-color: #003300;
		float: left;
		margin-right: 7px;

		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;

		background: linear-gradient(top, #307bfb 0%, #0530e5 80%);	
		background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
		background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
		background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);

		box-shadow: -1px 2px #001c91;
		-webkit-box-shadow: -1px 2px #001c91;
		-moz-box-shadow: -1px 2px #001c91;
		-o-box-shadow: -1px 2px #001c91;
	}

