* {
	margin: 0;
	padding: 0;
}

@media all {

	div#pokedex
	{
		width: 750px;
		margin: 50px auto 0 auto;
	}

	div#Esquerda
	{
		width: 400px;
		height: 500px;
		float: left;
		position: relative;
		z-index: 1;
	}

	div#Direita
	{
		width: 350px;
		height: 500px;
		float: left;
		position: relative;
	}

	div#curva1_esquerda
	{
		width: 200px;
		height: 85px;
		background-color: #f25e8d ;
		float: left;
		padding: 16px 0 0 15px;

		position: absolute;
		top: 0;
		left: 0px;

		box-shadow: -10px 9px #f25e8d;
		-webkit-box-shadow: -10px 9px #f25e8d;
		-moz-box-shadow: -10px 9px #f25e8d;
		-o-box-shadow: -10px 9px #f25e8d;

		border-bottom-right-radius: 85px 60px;
		-webkit-border-bottom-right-radius: 85px 60px;
		-moz-border-bottom-right-radius: 85px 60px;
		-o-border-bottom-right-radius: 85px 60px;

		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}
	

	div#grande_curva1_esquerda
	{
		width: 400px;
		height: 80px;
		background-color: #f25e8d;

		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}

	div#curva2_esquerda
	{
		width: 216px;
		height: 451px;
		background-color: #ff007f;
		float: right;

		position: absolute;
		bottom: 0;
		right: 0;

		border-top-left-radius:85px 60px;
		-webkit-border-top-left-radius: 85px 60px;
		-moz-border-top-left-radius: 85px 60px;
		-o-border-top-left-radius: 85px 60px;
	}

	div#grande_curva2_esquerda
	{
		width: 400px;
		height: 420px;
		background-color: #ff007f;

		box-shadow: -10px 9px #f25e8d;
		-webkit-box-shadow: -10px 9px #f25e8d;
		-moz-box-shadow: -10px 9px #f25e8d;
		-o-box-shadow: -10px 9px #f25e8d;

		border-bottom-left-radius: 30px;
		-webkit-border-bottom-left-radius: 30px;
		-moz-border-bottom-left-radius: 30px;
		-o-border-bottom-left-radius: 30px;
	}

	div#juncao
	{
		width: 60px;
		height: 451px;
		float: right;
		
		background: linear-gradient(left, #f25e8d 0%,#ff007f 50%, #f25e8d 100%);	
		background: -webkit-linear-gradient(left, #f25e8d 0%,#ff007f 50%, #f25e8d 100%);
		background: -moz-linear-gradient(left, #f25e8d 0%,#ff007f 50%, #f25e8d 100%);
		background: -o-linear-gradient(left, #f25e8d 0%,#ff007f 50%, #f25e8d 100%);
	}

	div#juncao1
	{
		height: 40px;
		background-color: #f25e8d;
		opacity: 0.3;
		margin-top: 50px;
		margin-bottom: 262px;

		border-top: 2px solid #330000;
		border-bottom: 2px solid #330000;
	}

	div#juncao2
	{
		height: 40px;
		background-color: #f25e8d;
		opacity: 0.3;

		border-top: 2px solid #330000;
		border-bottom: 2px solid #330000;
	}

	div#tela
	{
		height: 245px;
		width: 260px;
		padding: 0 20px;
		background-color: #b0b0b0;
		float:left;

		position: absolute;
		top: 130px;
		left: 19px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#tela:after
	{
		content: "";
		border-top: 40px solid #b0b0b0;
		border-left: 40px solid #ff007f;
		height: 0;

		position: absolute;
		bottom: 0;
		left: 0;
	}

	div#imagem
	{
		height: 175px;
		width: 254px;
		margin-top: 20px;
		margin-bottom: 9px;
		background-color: #fff;
		background-image: url("../img/pokeFundo.jpg");
		background-size: cover;
		border: 3px solid #494949;
		clear: both;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#imagem img
	{
		display: block;
		margin: 0 auto;
	}

	div#topImagem
	{
		margin: 6px auto;
		width: 40px;
	}

	div#quatroBarra
	{
		float: right;
		width: 75px;
		height: 25px;
		margin-right: 20px;
	}

	div.sp
	{
		height: 3px;
		margin-bottom: 5px;
		background-color: #494949;

		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-o-border-radius: 30px;
	}

	div#curva1_direita
	{
		width: 166px;
		height: 451px;
		background-color: #ff007f;
		float: right;

		position: absolute;
		bottom: 0;
		left: 0;

		border-top-right-radius:85px 60px;
		-webkit-border-right-left-radius: 85px 60px;
		-moz-border-right-left-radius: 85px 60px;
		-o-border-right-left-radius: 85px 60px;
	}


	div#grande_curva1_direita
	{
		width: 350px;
		height: 80px;
		background-color: #fff;

		border-top-right-radius: 30px;
		-webkit-border-top-right-radius: 30px;
		-moz-border-top-right-radius: 30px;
		-o-border-top-right-radius: 30px;
	}

	div#curva2_direita
	{
		width: 216px;
		height: 100px;
		background-color: #fff;
		float: left;

		position: absolute;
		top: 0;
		right: 0;

		border-bottom-left-radius: 85px 60px;
		-webkit-border-bottom-left-radius: 85px 60px;
		-moz-border-bottom-left-radius: 85px 60px;
		-o-border-bottom-left-radius: 85px 60px;
	}

	div#grande_curva2_direita
	{
		width: 350px;
		height: 420px;
		background-color:  #ff007f;

		border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		-moz-border-bottom-right-radius: 30px;
		-o-border-bottom-right-radius: 30px;

		box-shadow: -10px 9px #f25e8d;
		-webkit-box-shadow: -10px 9px #f25e8d;
		-moz-box-shadow: -10px 9px #f25e8d;
		-o-box-shadow: -10px 9px #f25e8d;
	}

	div#estatisticas
	{
		height: 130px;
		width: 280px;
		padding: 10px;
		background-color: #30da0c;
		z-index: 1;
		font-size: 13px;
		font-family: arial, sans-serif;

		position: absolute;
		top: 130px;
		left: 25px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;

		box-shadow: 0 0 20px #003300 inset;
		-webkit-box-shadow: 0 0 20px #003300 inset;
		-moz-box-shadow: 0 0 20px #003300 inset;
		-o-box-shadow: 0 0 20px #003300 inset;

		overflow-y: scroll;
	}

	div#stats ul {
		list-style-type: none;
	}

	div#stats li {

		padding-left: 10px;
	}

	#erro {
		font-weight: bold;
		font-size: 15px;
	}

	#idPokemon {
		background-color: #ffff00;
		border-radius: 10px;
		height: 100%;
		margin: auto;
		width: 100%;
	}

	#estouComSorte {
		height: 100%;
		width: 100%;
		background-color: Transparent;
    	background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		font-weight: bold;
	}
}