@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carrosel {
  height: 510px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centralizar {
  text-align: center;
  margin-top: 15px;
}

.BotaoParaCadastrar {
  float: right;
}

.Content {
  margin: 20px
}

.MensagemSucesso{
  color: rgb(79, 177, 79);
  text-align: center;
}

/* Ant Design */

.site-layout-content {
  min-height: 580px;
  padding: 24px;
  background: #fff;
}

.ant-breadcrumb-link {
  font-size: medium;
  
}
